spring:
  datasource:
    url: jdbc:mysql://localhost:3306/social_network?&createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Europe/Moscow
    username: root
    password: testtest
  jpa:
    show-sql: false
    hibernate.ddl-auto: none

    properties:
      hibernate:
        jdbc.time_zone: Europe/Moscow
        dialect: org.hibernate.dialect.MySQL55Dialect
        globally_quoted_identifiers: true

jwt.token:
  secret: jwtappdemo
  expired: 3600000

server:
  port: 8080

upload:
  path: "C:/Users/Katerina/Desktop/storage"

hostname: localhost:8080

project.name: Социальная сеть разработчиков

spring.mail:
  # Логин и пароль пользователя от почты на gmail
  host: smtp.gmail.com
  port: 587
  username: skillboxsocial@gmail.com
  password: javaproiddqd
  # Other properties
  properties.mail.smtp:
    auth: true
    connectiontimeout: 5000
    timeout: 5000
    writetimeout: 5000
    # TLS , port 587
    starttls.enable: true
